h1{
    font-weight: bold;
    
}

h3{
    margin-bottom: -1%;
}

.Circle {
    border-radius: 50%;
    
    width: 200px;
    height: 200px;
    margin: left 0;

    
}
.Circle.red {
    background-color: red;
    border: 10px solid;

}

.Circle.green {
    background-color: green;
    border: 10px double;
}

.Circle.blue {
    background-color: blue;
    border: 10px dashed;

}

