h1{
    margin-bottom: 10px;
    font-size: 40px;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid lightgrey;
    background-color: rgb(39, 128, 186);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    transform: translateY(2px)
}

.button1{

}